/* You can add global styles to this file, and also import other style files */

body {
    background-color: #FAF9EE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    background-color: #3C3A32;
    border: none;
    border-radius: 5px;
    color: #FAF9EE;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
}